/* @group GRID */

.wrap-12 {
  width: 764px;
}

.wrap-1,
.wrap-2,
.wrap-3,
.wrap-4,
.wrap-5,
.wrap-6,
.wrap-7,
.wrap-8,
.wrap-9,
.wrap-10,
.wrap-11 {
  float: left;
}

.col-4 {
  width: 236px;
}

.col-5 {
  width: 320px;
}

.col-6 {
  width: 364px;
}

.col-7 {
  width: 450px;
}

.col-8 {
  width: 494px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
  float: left;
  padding: 0 10px;
}

/* @end */
